body {
    font-family: Arial;
    padding: 20px;
}

.form-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.product-row {
    background: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
